
.CentralDIVForm{

    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.CentralDIVForm2{
    color: black;
    background-color:#FFFFFF;
    box-shadow:5px 5px 0 rgba(0, 0, 0, 0.2);
    border: solid white 1px;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    
    display:  flex;
    align-items: center;
    justify-content: center;
}

#statusLinha{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#statusLinha2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



#textAreaForm{
    width: 100%;
    min-height: 40px;
    max-height: 300px;
    overflow-y:scroll !important;
    resize: none;
    
    white-space: pre-wrap; /* Permite quebras de linha e mantém espaços */
    word-wrap: break-word; /* Quebra palavras longas */
}