#DivAll{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

}

/*HEADER*/


/*DivDeAadicionarChamados*/

#DivDeAadicionarChamados{
    margin-left: 50px;
    padding: 30px;
    border: black solid 1px ;
    border-radius: 10px;
}

/*DivDaListaDeChamados*/

#DivDaListaDeChamados{
    padding: 50px;
    
}

/*detalhes de Chamados específicos*/

#detalhesChamado{
    padding: 50px;
    border: black solid 1px ;
    border-radius: 10px;
}