/* STYLE DE IDs Principais */

body{
    background-color: #3e4451;
    color: white;
}

h2{
    padding-left: 21px;
    padding-top: 21px;
}

#DivALL{
    display: flex;
    justify-content: center;
}

#formulario{
    display: flex;
    width: 50%;
    padding: 30px;
    background-color: #1e2136;
    border: solid 1px white;
    border-radius: 10px;
}

/* STYLE DE ID ESPECÍFICOS */

#tituloDropdown{
    width: 180px;

}